<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">View Pending Income And Approve</h2>
<!-- Icon Divider -->
<div class="divider-custom">
  <div class="divider-custom-line"></div>
  <div class="divider-custom-icon">
    <i class="fas fa-star"></i>
  </div>
  <div class="divider-custom-line"></div>
</div>
<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Sl</th>
      <th>Approve</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Cash/Check</th>
      <th>Particular</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pendingIncome of pendingIncomeList">
      <td>{{pendingIncomeList.indexOf(pendingIncome) + 1}}</td>
      <td style="width: 35px">
        <input type="checkbox" (change)="onFeatureToggle(pendingIncome.incomeId, $event)" />
      </td>
      <td>{{ pendingIncome.dateTime | date:'dd-MMMM-yyyy'  }}</td>
      <td>{{ pendingIncome.amount }}</td>
      <td>{{ pendingIncome.isCashOrCheck ?'Check':'Cash' }}</td>
      <td>{{ pendingIncome.particular }}</td>
    </tr>
    </tbody>
  </table>
  <div class="form-group">
    <button class="btn btn-primary" (click)="onClickMe()">Approve</button>
  </div>
  
<</div>
