<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Expense Entry Form</h2>
<!-- Icon Divider -->
<div class="divider-custom">
  <div class="divider-custom-line"></div>
  <div class="divider-custom-icon">
    <i class="fas fa-star"></i>
  </div>
  <div class="divider-custom-line"></div>
</div>

<div class="container">
  <form #f="ngForm" (ngSubmit)="submit()" novalidate>
    <div class="form-group">
      <label for="amount">Amount</label>
      <input id="amount" numeric numericType="decimal" type="text" class="form-control" [(ngModel)]="incomeModel.amount" name="amount" required #amount="ngModel">
      <div class="alert alert-danger" *ngIf="amount.touched && !amount.valid">Please specify the Amount.</div>
    </div>

    <p>Is Check or Cash?</p>

    <label for="isCashOrCheck" class="radio-inline">
      <input type="radio" name="isCashOrCheck" id="isCashOrCheck" [value]="false" [(ngModel)]="incomeModel.isCashOrCheck" (click)="radioValueCheck(1)"> Cash
    </label>
    <label for="notRegistered" class="radio-inline">
      <input type="radio" name="isCashOrCheck" id="notRegistered" [value]="true" [(ngModel)]="incomeModel.isCashOrCheck" (click)="radioValueCheck(2)"> Check
    </label>
    <div class="form-group">
      <label for="checkNo">Check No</label>
      <input id="checkNo" type="text" [disabled]="showInputFlg" class="form-control" [(ngModel)]="incomeModel.checkNo" name="checkNo" required #checkNo="ngModel">
      <div class="alert alert-danger" *ngIf="checkNo.touched && !checkNo.valid">Please specify the check No.</div>
    </div>
    <div class="form-group">
      <label for="bankId">Bank Name</label>
      <select id="bankId" class="form-control" [disabled]="showInputFlg" [(ngModel)]="incomeModel.bankId" name="bankId" required #bankId="ngModel">
        <option value=null>--Select Bank Name--</option>
        <option *ngFor="let m of banks" value="{{ m.bankId }}">{{ m.bankName }}</option>s
      </select>
      <div class="alert alert-danger" *ngIf="bankId.touched && !bankId.valid">Please specify the Bank Name.</div>
    </div>
    <div class="form-group">
      <label for="particular">Particular</label>
      <textarea id="particular" class="form-control" [(ngModel)]="incomeModel.particular" name="particular" required #particular="ngModel"></textarea>
      <div class="alert alert-danger" *ngIf="particular.touched && !particular.valid">Please specify the Particular.</div>
    </div>
    <div class="form-group">
      <label for="date">Date</label>
      <input id="date" type="date" class="form-control" [(ngModel)]="incomeModel.date" name="date" required #date="ngModel">
      <div class="alert alert-danger" *ngIf="date.touched && !date.valid">Please specify the date.</div>
    </div>

    <div class="form-group">
      <button class="btn btn-primary" [disabled]="!f.valid">Save</button>
    </div>
  </form>


</div>
