<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Log In</h2>
<!-- Icon Divider -->
<div class="divider-custom">
  <div class="divider-custom-line"></div>
  <div class="divider-custom-icon">
    <i class="fas fa-star"></i>
  </div>
  <div class="divider-custom-line"></div>
</div>

<div class="container">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="companyEmail">Email address</label>
      <input type="text" [(ngModel)]="loginModel.companyEmail" name="companyEmail" required #companyEmail="ngModel" class="form-control" id="companyEmail" placeholder="name@example.com" >
    </div>
    <div class="form-group">
      <label for="password">PassWord</label>
      <input type="password" [(ngModel)]="loginModel.password" name="password" required #password="ngModel" class="form-control"  id="password" placeholder="enter your pass here">
    </div>
    <div class="form-group">
      <button [disabled]="!loginForm.valid" class="btn btn-primary">Log In</button>
    </div>
  </form>
</div>
