<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Company Registration</h2>
<!-- Icon Divider -->
<div class="divider-custom">
  <div class="divider-custom-line"></div>
  <div class="divider-custom-icon">
    <i class="fas fa-star"></i>
  </div>
  <div class="divider-custom-line"></div>
</div>
<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="companyName">Company Name</label>
      <input type="text" id="companyName"  formControlName="companyName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }" [(ngModel)]="company.companyName"/>
      <div *ngIf="submitted && f.companyName.errors" class="invalid-feedback">
        <div *ngIf="f.companyName.errors.required">Company Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" [(ngModel)]="company.companyEmail" />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
        <div *ngIf="f.email.errors.pattern">Email must be a valid email address</div>
      </div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" [(ngModel)]="company.password"  />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
      </div>
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
      <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
      </div>
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <textarea class="form-control" formControlName="address" rows="4" id="address" placeholder="Enter Company Address"  [ngClass]="{ 'is-invalid': submitted && f.address.errors }" [(ngModel)]="company.address"></textarea>
      <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
        <div *ngIf="f.address.errors.required">Address is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="country">Country</label>
      <select id="country" formControlName="country" class="form-control" [(ngModel)]="company.countryId" name="countryId" [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
        <option value=null>--select country--</option>
        <option *ngFor="let m of countries" value="{{m.countryId}}">{{m.countryName}}</option>
      </select>
      <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
        <div *ngIf="f.country.errors.required">Please Select a country</div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Register</button>
    </div>
  </form>
</div>

